/* Based on 1-style.css */

html {
  scroll-behavior: smooth;
}

/* Body text color */
body {
  color: #161616;
}

/* Links color */
a {
  color: #161616;
}

/* Hide visually hidden elements */
.visually-hidden {
  display: none;
}

/* Category color */
.card-category {
  color: #D73953;
}

/* Section tagline color */
.section-tagline {
  color: #D73953;
}

