:root {
  --transition-duration: .3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

.card-work:hover .card-image {
  transform: scale(1.2);
}

.card-work:hover .card-outer {
  transform: scale(0.95);
}

.nav .nav-link::before {
  transition: var(--transition-duration) var(--transition-cubic-bezier);
}

.button:hover {
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}

.card-work:hover .card-image {
  transition: var(--transition-duration) var(--transition-cubic-bezier);
}

.card-work .card-inner {
  transition: var(--transition-duration) var(--transition-cubic-bezier);
}

